@page
@model IndexModel
@{
    ViewData["Title"] = "CinemaTracker";
}

<h1>@ViewData["Title"]</h1>
<p>This site allows for creating, updating, and deleting actors and movies, and allows you to establish relationships between them.
   
</p>